@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.category-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.category-search {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.category-text {
  text-align: center;
}

p {
  text-align: center;
}
